article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
/* 1 */
  -webkit-text-size-adjust: 100%;
/* 2 */
  -ms-text-size-adjust: 100%;
/* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
/* 1 */
  -ms-interpolation-mode: bicubic;
/* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
/* 1 */
  padding: 0;
  white-space: normal;
/* 2 */
  *margin-left: -7px;
/* 3 */
}
button,
input,
select,
textarea {
  font-size: 100%;
/* 1 */
  margin: 0;
/* 2 */
  vertical-align: baseline;
/* 3 */
  *vertical-align: middle;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
/* 1 */,
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
/* 2 */
  cursor: pointer;
/* 3 */
  *overflow: visible;
/* 4 */
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
/* 1 */
  padding: 0;
/* 2 */
  *height: 13px;
/* 3 */
  *width: 13px;
/* 3 */
}
input[type="search"] {
  -webkit-appearance: textfield;
/* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
/* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
/* 1 */
  vertical-align: top;
/* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
/* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media only screen and (min-width: 35em) {
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min-resolution: 144dpi) {
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
/* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
/* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
a {
  color: #f9601c;
}
html,
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
  color: #4c1315;
}
#masthead {
  background: #c94b40;
  color: #fff;
  line-height: 56px;
  height: 56px;
}
#masthead .inner {
  width: 960px;
  margin: auto;
  zoom: 1;
}
#masthead .inner:before,
#masthead .inner:after {
  content: "";
  display: table;
}
#masthead .inner:after {
  clear: both;
}
#masthead .download {
  color: #fff;
  background: #f96a2a;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  padding: 8px 16px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d44606;
  font-size: 18px;
  padding: 4px 8px;
  font-size: 14px;
}
#masthead .download:hover {
  text-decoration: inherit;
}
#masthead h1 {
  line-height: 56px;
  margin: 0;
  font-size: 24px;
  float: left;
}
#masthead ul {
  float: right;
  margin: 0;
  padding: 0;
}
#masthead li {
  display: inline;
}
#masthead a {
  color: inherit;
  text-decoration: none;
  margin-left: 12px;
}
#masthead a:hover {
  text-decoration: underline;
}
#masthead .github {
  padding-top: 4px;
  display: inline-block;
  vertical-align: middle;
}
#masthead .github i {
  font-size: 32px;
}
#mastfoot {
  text-align: center;
}
section.intro {
  text-align: center;
  width: 960px;
  margin: auto;
}
section.intro .download {
  color: #fff;
  background: #66ca71;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  padding: 8px 16px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #3ba947;
  font-size: 18px;
}
section.intro .download:hover {
  text-decoration: inherit;
}
section.intro img {
  margin-bottom: 24px;
}
section.intro h2 {
  text-align: center;
  font-size: 32px;
}
section.bullets {
  margin-top: 48px;
  padding-bottom: 36px;
  border-top: 1px solid #ffeddf;
  border-bottom: 1px solid #ffeddf;
  background: #fffbf8;
}
section.bullets .inner {
  width: 960px;
  margin: auto;
}
section.bullets .inner h3 {
  text-align: center;
  margin-top: 24px;
  font-size: 24px;
}
section.bullets .inner ul {
  padding-let: 42px;
  width: 65%;
  margin: auto;
}
section.bullets .inner ul li {
  font-weight: 300;
  font-size: 24px;
  list-style: none;
  margin: 16px 0;
  position: relative;
}
section.bullets .inner ul li i {
  color: #9f282c;
  font-size: 32px;
  width: 42px;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: -42px;
}
