%header#masthead
  .inner
    %h1= link_to 'Ember.js Persistence Foundation', '/'

    %nav
      %ul
        %li= link_to 'Getting Started', 'getting_started.html'
        %li= link_to 'Migrating From Ember-Data', 'migrating_from_ember_data.html'
        %li= link_to 'Download', '#', class: 'download'
        %li
          =link_to 'http://github.com/GroupTalent/epf', class: 'github' do
            %i.typcn-social-github