%header#masthead
  .inner
    %h1 Ember.js Persistence Foundation

    %nav
      %ul
        %li= link_to 'Getting Started', '#'
        %li= link_to 'Migrating From Ember-Data', '#'
        %li= link_to 'Download', '#', class: 'download'
        %li
          =link_to 'http://github.com/GroupTalent/epf', class: 'github' do
            %i.typcn-social-github