---
title: "EPF: Ember.js Persistence Foundation"
---

%section.intro
  %h2 A framework for keeping your Ember.js apps in sync.

  <iframe width="854" height="510" src="http://www.youtube.com/embed/ZrWUUcB-PR8" frameborder="0" allowfullscreen></iframe>

  %p
    = link_to release_path, class: 'download' do
      %i.typcn-download-outline
      Download v#{release_version}


%section.bullets
  .inner
    %h3 Built for Ambitious Applications

    %ul
      %li
        %i.typcn-tick-outline
        Emphasis on correctness and stability.
      %li
        %i.typcn-flow-children
        Full support for relationships. Easily modify arbitrarily complex model graphs.
      %li
        %i.typcn-arrow-sync
        Built around synchronization. Framework assumes updates are always streaming in.
      %li
        %i.typcn-flash-outline
        Robust handling of conflicts and errors.
      %li
        %i.typcn-flow-merge
        Simple to fork and isolate changes to models.
      %li
        %i.typcn-thumbs-up
        All operations are structured around JavaScript promises.
      %li
        %i.typcn-coffee
        Feature parity with Ember-Data with an easy #{link_to 'migration path', 'migrating_from_ember_data.html'}.

%section.graph

  %h3 EPF Handles the Corner Cases
  = link_to image_path('rest_sync.svg') do
    %img{src: image_path('rest_sync.svg'), width: 540}
